.category-edit-observe{
	
}
.category-display1
{
	height:40px;
}
th{
	height:40px;
}
tr{
	height:40px;
}
.aa2{
	margin-left:200px;
}
.search-button{
	height:40px;
	width:80px;
	margin-top:7px;
	margin-left:15px;
}